/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
                 &kp	GRAVE	&kp	N0	&kp	N9	&kp	N8	&kp	N7	&kp	N6 &kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                 
                 &kp	MINUS	&kp	P	&kp	O	&kp	I	&kp	U	&kp	Y &kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                  
                 &kp	SQT	&kp	SEMI	&kp	L	&kp	K	&kp	J	&kp	H &kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                   
                 &kp RSHFT &kp FSLH &kp DOT &kp COMMA &kp M &kp N &kp LEFT_SHIFT &kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp BACKSLASH  
                                &kp CAPSLOCK &mo 2 &kp BACKSPACE &kp RET &kp LALT  &sk LGUI  &mo 1   &kp SPACE   
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans &trans &trans &kp C_PLAY_PAUSE &kp C_VOLUME_UP &kp C_VOLUME_DOWN &trans  &kp NUMBER_6  &kp N7  &kp N8      &kp N9        &kp N0 
&trans &trans &trans &kp N9 &kp N8 &kp N7 &trans  &trans        &trans  &kp AMPS    &kp ASTERISK  &kp LEFT_PARENTHESIS
&trans &trans &trans &kp N6 &kp N5 &kp N4 &trans  &trans        &trans  &kp DOLLAR  &kp PERCENT   &kp CARET
&trans &trans &trans &kp N3 &kp N2 &kp N1 &kp N0 &kp RIGHT_PARENTHESIS &trans  &trans        &trans  &kp EXCL    &kp AT_SIGN   &kp HASH
&trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans &trans &kp C_PLAY_PAUSE &trans &kp C_VOLUME_UP &kp C_VOLUME_DOWN &trans     &trans        &trans     &trans        &trans        &trans
&trans &kp N0 &kp N9 &kp N8 &kp N7 &kp N6 &kp GRAVE  &kp N1        &kp N2     &kp N3        &kp N4        &kp N5                           
&trans &trans &kp RIGHT &kp UP &kp DOWN &kp LEFT &trans     &kp LBKT      &kp RBKT   &kp LS(LPAR)  &kp LS(RPAR)  &kp BSLH                  
&trans &trans &trans &trans &trans &trans &trans &kp GRAVE &trans     &kp LS(PLUS)  &kp MINUS  &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(GT)  
&trans  &trans             &trans           &trans                                    &kp LCTRL     &kp LALT      &kp LGUI    &kp EQUAL    
            >;
        };
    };
};
